<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>My Website</title>
      <link rel="stylesheet" href="../stylesheets/about.css">
    </head>

    <section id="background-top"></section>
    <nav id="nav-bar">
        <ul id="nav-bar-list">
            <li class="nav-item" id="first-nav-item"><a href="../index.html">Home</a></li>
            <li class="nav-item"><a href="about.html">About</a></li>
            <li class="nav-item"><a href="projects.html">Projects</a></li>
            <li class="nav-item" id="last-nav-item"><a href="interests.html">Interests</a></li>
        </ul>
    </nav>

    <section id="content">
        <h1 id="page-title">ABOUT</h1> 
        <img id="profile-img" src="https://secure.img1-fg.wfcdn.com/im/53299221/compr-r85/4307/43074449/hanging-pug-puppy-statue.jpg" alt="image-of-me">
        <section id="resume-box">
            <article id="education">
                <h2>Education:</h2>
                <p>School:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;University of San Francisco<br>
                   Year:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Junior<br>
                   Expected Graduation:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 2021<br>
                   Major:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computer Science<br>
                </p>
            </article>
            <article id="Extracurriculars">
                <h2>Extracurriculars:</h2>
                <h4>Clubs:</h4>
                <ul>
                    <li>Diversineers</li>
                    <li>Acm</li>
                </ul>
                <h4>Hackathons:</h4>
            </article>
            <article id="Hobbies">
                <h2>Hobbies:</h2>
            </article>
        </section>

        <section id="contact-me">
            <h2 id="contact-title">Contact Me!</h2>
            <ul id="list-of-links">
                <li class="contact-link">
                    <a href="https://github.com/pechuong">
                        <img id="Github-icon" src="https://cdn.freebiesupply.com/logos/large/2x/github-icon-logo-png-transparent.png" alt="Github-icon">
                        Github
                    </a>
                </li>
                <li class="contact-link">
                    <a href="https://www.linkedin.com/in/peter-chuong/">
                        <img id="LinkedIn-icon" src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png" alt="LinkedIn-icon">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </section>
    </section>
</html>
