<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>My Website</title>
      <link rel="stylesheet" href="../stylesheets/interests.css">
    </head>

    <section id="background-top"></section>
    <nav id="nav-bar">
        <ul>
            <li id="first-nav-item" class="nav-item"><a href="../index.html">Home</a></li>
            <li class="nav-item"><a href="about.html">About</a></li>
            <li class="nav-item"><a href="projects.html">Projects</a></li>
            <li id="last-nav-item" class="nav-item"><a href="interests.html">Interests</a></li>
        </ul>
    </nav>
    <h1 id="page-title">INTERESTS</h1>
    <section id="cs-topics">
        <h2 id="cs-topic-title">CS Topics to explore more</h2>
        <ul id="list-of-topics">
            <li>Machine Learning</li>
            <li>Artificial Intelligence</li>
            <li>Functional Programming</li>
            <li>Django Framework</li>
            <li>React Framework</li>
            <li>Apache Libraries</li>
            <li>Java Discord API</li>
            <li>Cloud Computing</li>
        </ul>
    </section>
    <section id="bookmarked">
        <h2 id="bm-title">Topics Bookmarked</h2>
        <ul>
            <li class="bm-topic"><a href="https://github.com/ohmyzsh/ohmyzsh/wiki/themes">Zsh Terminal Coloring</a></li>
            <li class="bm-topic"><a href="https://github.com/mbadolato/iTerm2-Color-Schemes">Terminal Colors</a></li>
            <li class="bm-topic"><a href="https://news.ycombinator.com/">CS News</a></li>
            <li class="bm-topic"><a href="https://www.haskell.org/">Learning Haskell</a></li>
            <li class="bm-topic"><a href="http://www.scs.stanford.edu/14sp-cs240h/slides/basics.html">More about Haskell from Stanford</a></li>
            <li class="bm-topic"><a href="https://bulma.io/">Bulma(CSS Framework)</a></li>
            <li class="bm-topic"><a href="http://course18.fast.ai/ml">Deep Learning Course</a></li>
            <li class="bm-topic"><a href="https://reactjs.org/docs/getting-started.html">React Documentation</a></li>
            <li class="bm-topic"><a href="https://auth.udacity.com/sign-in?next=https%3A%2F%2Fclassroom.udacity.com%2Fauthenticated">Machine Learning Course(Udacity)</a></li>
            <li class="bm-topic"><a href="https://www.freecodecamp.org/news/learning-scala-from-0-60-part-i-dc095d274b78/">Learning Scala</a></li>
        </ul>
    </section>
    <section id="suggestion-box">
        <h2 id="sugg-title">Suggestions of Topic to Explore</h2>
        <p id="sugg-box-desc">Got a topics you think is interesting that I should check out?<br>Send it to me! :)</p>
        <a id="sugg-form" href="https://forms.gle/Wp3QsZLGEZmqG53R7">[ Fill out this Form ]</a>
    </section>
    <section id="fav-shows">
        <h2 id="shows-title">Favorite Netflix Shows  <a href="https://www.netflix.com/browse"><img id="netflix-icon" src="http://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/netflix-icon.png" alt="image of netflix logo"></a></h2>
        <ul id="show-list">
            <li class="show"><a class="show-link" href="https://www.netflix.com/search?q=black%20mirror&jbv=70264888&jbp=1&jbr=0">Black Mirror<img id="black-mirror-icon" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkG_5yo9hLpW9-radJVqLb-l6hkCdn9eEGBia1rSS0Hm8AJPq0mw&s" alt="black mirror icon"></a></li>
            <li class="show"><a class="show-link" href="https://www.netflix.com/search?q=flash&jbv=80027042&jbp=0&jbr=0">Flash<img id="flash-icon" src="https://image.flaticon.com/icons/png/512/36/36758.png" alt="lightning icon"></a></li>
            <li class="show"><a class="show-link" href="https://www.netflix.com/search?q=umbrella%20academy&jbv=80186863&jbp=0&jbr=0">Umbrella Academy  <img id="ub-icon" src="https://styles.redditmedia.com/t5_2xca1/styles/communityIcon_op0b0ee1uug21.png" alt="ub-icon"></a></li>
            <li class="show"><a class="show-link" href="https://www.netflix.com/search?q=bojack%20ho&jbv=70300800&jbp=0&jbr=0">Bojack Horseman  <img id="bojack-icon" src="https://uxwing.com/wp-content/themes/uxwing/download/23-animals-and-nature/horse-head.png" alt="Horse-icon"></a></li>
        </ul>
    </section>
</html>
