<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>My Website</title>
      <link rel="stylesheet" href="../stylesheets/projects.css">
    </head>

    <section id="background-top"></section>
    <nav id="nav-bar">
        <ul>
            <li id="first-nav-item" class="nav-item"><a href="../index.html">Home</a></li>
            <li class="nav-item"><a href="about.html">About</a></li>
            <li class="nav-item"><a href="projects.html">Projects</a></li>
            <li id="last-nav-item" class="nav-item"><a href="interests.html">Interests</a></li>
        </ul>
    </nav>
    <h1 id="page-title">PROJECTS</h1>
    <section id="project-list">
        <h2 id="project-title">NAME</h2>
        <ul id="p-list">
            <li class="project">Search Engine</li>
            <li class="project">Command line shell</li>
        </ul>
    </section>
    <article class="project-details">
        <h1 id="project-name">Search Engine</h1>
        <p id="proj-desc">Created a Search Engine backend utilizing frameworks and libraries such as Apache Commons Lib and log4j2</p>
        <p id="start-date"><b>Start-date</b>:&nbsp;&nbsp;&nbsp;&nbsp;Aug 2018</p>
        <p id="status">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Status</b>:&nbsp;&nbsp;&nbsp;&nbsp;Still making changes</p>
        <p id="repo-link"><a href="https://github.com/pechuong/Search_Engine">Github Repo Link</a></p>
        <p id="lang-used">Languages used:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Java 10</p>
        <p id="lib-used">Libraries/API used:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Apache Common, Apache Text</p>
        <img src=".." alt="picture of code">
    </article>
</html>
