<!doctype html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>My Website</title>
      <link rel="stylesheet" href="../stylesheets/projects.css">
    </head>

    <section id="background-top"></section>
    <nav id="nav-bar">
        <ul>
            <li id="first-nav-item" class="nav-item"><a href="../index.html">Home</a></li>
            <li class="nav-item"><a href="about.html">About</a></li>
            <li class="nav-item"><a href="projects.html">Projects</a></li>
            <li id="last-nav-item" class="nav-item"><a href="interests.html">Interests</a></li>
        </ul>
    </nav>
    <article>
        <h1 id="page-title">PROJECTS</h1>
    </article>
</html>
